* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lobster', cursive;
    overflow: hidden;
}

.presentacion-pag{
    padding-bottom: 48px;
    background-image: url(../img/fondo-candy.png);
    width: 100%;
    margin-bottom: 5%;

}

.header-mesale{
    background-color: #F1F1F1;
    width: 100%;
    height: 79px;
    position: fixed;
}

.logo-mesale{
    position: fixed;
    height: inherit;
}

.cuadro-presentacion{
    margin-top: 10%;
    padding: 7%;
    border-radius: 11px;
    background-color: #FE5443;
    margin-bottom: 2%;
}

.subtitulo{
    color: white;
    font-size: 2.5em;
}

#nombre{
    padding: 4% 23%;
    background: #FEDBC5;
    margin-top: 13%;
}

.prestcn-boton{
    padding: 3% 12%;
    border: none;
    border-radius: 5px;
    background-color: #84E6F1;
    position: relative;
    margin-left: 60%;
    margin-top: 5%;
}

.prestcn-boton:horver{
    background-color: blue;
    color: #fff;
}

.btn-inicia{
    text-decoration: none;
    color: white;
}
h2, h3{
    font-size:50px;
    color: white;
    margin-top: 7%;
}
h4, h2, h3{
    text-align: center;
}

.dibujos{
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 3%;
    margin-bottom: 7%;
}

.drops{
    background-color: black;
    color: white;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 5%;
}

.pUno {
    width: 100%;
    min-height: 100%;
    height: auto;
    top:0; 
    left:0;
    background-color:#F7BE81;
    text-align: center;
}
.pDos {
    width: 100%;
    min-height: 100%;
    height: auto;
    top:0; 
    left:0;
    background-color:crimson;
    text-align: center;
}
.figSerie {
    position: relative;
    box-sizing: border-box;
    display: block;
    text-align: center;
}
.figAlter {
    position: relative;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-align: center;
}
.figCua {
    position: relative;
    background-color: darkcyan;
}
.figCir {
    border-radius: 50%;
    background-color: coral;
}
.figRom{ 
    background: #428bca;
    transform: rotate(45deg);

}
.serie, .altern{
    position: relative;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    margin:  2%;
}

.figImg {
    width: 5rem;
    height: 5rem;
}

.figInterrogante {
    position: relative;
    background: url(../img/signo.gif);
    height: 10rem;
    width: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.blabla{
    margin-top: 13%;
    padding: 6%;
    width: 1000px;
    border-radius: 11px;
    background-color: #FE5443;
    margin-bottom: 2%;
        
}

/*Creacion de los 2 elementos*/

#drag, #drag2, #drag3; {
    width: 100px;
    height: 100px;
}

#drop1 {
    background: url(../img/signo.gif);
    height: 15rem;
    width: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
}

#no, #si {
    position: relative;
    display: none;
    width: 10rem;
    height: 10rem;
    text-align: center;
    left: 50%;
}

#mensaje {
    position: relative;
    font-style: normal;
    font-size: 20px;
    color: azure;
}
*/
/*----------------Juego 3------------------*/ 
.contenedorPregunta{
	background-color: #bbdefb;
	box-shadow: 5px 5px 5px -2px;
    border-radius: 50px;
    height: 230px;
    position: absolute; /* centrar div verticalmente*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
}
.estiloCaja{
	width: 80px;
	height: 80px;
	position: absolute;
	top:50%; 
	display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.estiloLetra{
	font-size: 20px;
	font-weight: 600;
}
.tituloPartida{
	position: absolute;
	left: 50px;
	top: 60px; 
}
.partida{
	background-image: url(../image/x_Spiderman1.gif);
    left: 50px;
}
.tituloLlegada{
	position: absolute;
    top: 60px;
    left: 480px; 
}
.llegada{
	background-image: url(../image/x_Spiderman11.gif);
    left: 490px; 
}
.caminando{
	background-image: url(../image/x_Spiderman15.gif);
	left: 50px;
}
.estiloBoton{
	background-color: #ef5350 ;
	border: 2px solid white;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 20px;
    left: 42%;
    padding: 5px;	 
}
/*--------------fin juego --------------------*/
.ultimoBoton{
    background-color: #78909c;
    border-radius: 15px;
    padding: 8px 60px;
    font-size: 20px;
    position: relative;
    top: 340px;
    left: 50px;
}
