* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

.contenedorPregunta{
	background-color: #bbdefb;
	box-shadow: 5px 5px 5px -2px;
    border-radius: 50px;
    height: 230px;
    position: absolute; /* centrar div verticalmente*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 640px;
}
.estiloCaja{
	width: 80px;
	height: 80px;
	position: absolute;
	top:50%; 
	display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.estiloLetra{
	font-size: 20px;
	font-weight: 600;
}
.tituloPartida{
	position: absolute;
	left: 50px;
	top: 60px; 
}
.partida{
	background-image: url(../image/x_Spiderman1.gif);
    left: 50px;
}
.tituloLlegada{
	position: absolute;
    top: 60px;
    left: 480px; 
}
.llegada{
	background-image: url(../image/x_Spiderman11.gif);
    left: 490px; 
}
.caminando{
	background-image: url(../image/x_Spiderman15.gif);
	left: 50px;
}
.estiloBoton{
	background-color: #ef5350 ;
	border: 2px solid white;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 20px;
    left: 42%;
    padding: 5px;	 
}